.ChatBubble {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 60px;
  scale: 0.5;
}
.ChatBubble div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.ChatBubble div:nth-child(1) {
  left: 8px;
  animation: ChatBubble1 0.6s infinite;
}
.ChatBubble div:nth-child(2) {
  left: 8px;
  animation: ChatBubble 0.6s infinite;
}
.ChatBubble div:nth-child(3) {
  left: 32px;
  animation: ChatBubble 0.6s infinite;
}
.ChatBubble div:nth-child(4) {
  left: 56px;
  animation: ChatBubble3 0.6s infinite;
}
@keyframes ChatBubble1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ChatBubble3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes ChatBubble {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
